<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.1/phpunit.xsd"

    bootstrap="vendor/autoload.php"
    cacheDirectory=".phpunit.cache"

    colors="true"
    backupGlobals="false"
    backupStaticProperties="false"
    processIsolation="false"
    stopOnFailure="false"

    failOnNotice="true"
    failOnWarning="true"
    failOnDeprecation="true"
>
    <coverage/>

    <testsuites>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>

        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <env name="MAIL_DRIVER" value="log"/>
        <env name="LOG_CHANNEL" value="single"/>
        <env name="VATSIM_API_BASE" value="https://test-vatsim-api.test/"/>

        <ini name="memory_limit" value="-1"/>
        <ini name="error_reporting" value="-1"/>
        <ini name="display_errors" value="1"/>
    </php>

    <source>
        <include>
            <directory suffix=".php">./app</directory>
        </include>
    </source>
</phpunit>
